*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, white, teal);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 99vw;
    height: 87vh;
}

.container{
    text-align: center;
    margin: 5em auto; 
    background-color: #71b8c2; 
    height: 430px; 
    width: 43%;
    border-radius: 10px;
}

.input-container{
    margin: auto;
    width: 70%;
    padding: 10px;
    height: 30%;
}

input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    width: 100%;
    background: radial-gradient(circle, rgb(125, 245, 245), white);
    margin-top: 1em;
    color: black;
    outline-color: black;
}

.about-game{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-top: -30px;
}

.start-container button{
    cursor: pointer;
    background-color: teal;
    text-align: center;
    width: 20%;
    height: 27px;
    margin: 2em auto;
    font-size: large;
    border-radius: 3px;
    border: 1px solid black;
    outline-color: black;
}

.signature{
    margin-top: 40px; 
    font-size:10px; 
    font-style:italic;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




@media only screen and (max-width: 1200px){
    body{
        background: radial-gradient(circle, white, teal)
    }

    .container{
        width: 90%;
        height: 590px;
        margin: 2.3em auto;
    }

    .input-container{
        margin: auto;
        width: 87%;
        padding: 10px;
    }

    input{
        width: 100%;
    }

    .about-game{
        width: 94%;
        margin-top: -80px;
    }

    .start-container button{
        font-size: 22px;
        margin-top: 6px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 57%;
        font-size: x-large;
        height: 7%;
        margin: 1em auto;
        text-align: center;
    }
    
    .signature{
        margin-top: 100px; 
    }
    
    
}